@import 'tailwindcss';

@font-face {
  font-family: 'Saiyan-Sans';
  font-style: normal;
  font-weight: normal;
  src:
    local('Saiyan-Sans'),
    url('font/Saiyan-Sans.woff') format('woff');
}

@theme {
  --font-dbz: 'Saiyan-Sans', sans-serif;

  --drop-shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.5);
}
